.detail__image{
    width: 40vw;
    margin-left: 5vw;
    margin-right: 3vw;
}

.detail__page{
    display: flex;
    align-items: center;
}

.detail__data{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}