.gallery__input{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.gallery > h3{
    margin-top: 50px;
    margin-left: 1vw;
}

.gallery > h4{
    margin-left: 1vw;
}

.gallery__inputtext1{
    padding: 10px;
}

.gallery__inputtext2{
    padding: 10px;
}

.gallery__inputtext3{
    padding: 10px;
}

.gallery__button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    background-color: darkgrey;
    color: black ;
    border-radius: 5px ;

}

@media (max-width: 768px) {
    .gallery__inputtext1{
        max-height: 100px;
        max-width: 100px;
        min-height: 50px;
        min-width: 60px;
        overflow:hidden;
    }
    .gallery__inputtext2{
        max-height: 100px;
        max-width: 100px;
        min-width: 40px;
        padding: 5px;
    }
    .gallery__inputtext3{
        max-height: 100px;
        max-width: 100px;
        min-width: 70px;
        padding: 5px;
    }
  }