.header{
    /* background-color: white; */
    display: flex;
    align-items: center;
    position: sticky;   
    top: 0;
    z-index: 100;
    justify-content: space-between;
    height: 80px;
}

.header__logo{
    color: red;
    margin-left: 30px;
    text-decoration: none;
}

.header__galleryabout{
    display: flex;
}

.header__link{
    text-decoration: none;
}

.header__linktext{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 25px;
    color: red;

}
